@model List<ApiFootball.Models.Competition>
@{
    ViewBag.Title = "LeagueList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lig listesi</h2>
@using (Html.BeginForm("Deneme", "LeagueTable", FormMethod.Post))
{
    @Html.DropDownList("leagueListt", (List<SelectListItem>)ViewBag.leagueListt)<br />


  
    
     <button class="btn btn-info">Puan Tablosu</button>
}
